{% extends "base.html" %}

{% block content %}

<h1 class="page-heading">Build-a-Blog</h1>
</br>
    
    
        
    {% for blog in blogs %}
        <a class="title-link" href="/blog?id={{blog.id}}"><h2 class="blog-title">{{blog.title}}</h2></a>
        <h4 class="username">Written by: <a class="user-link" href="/blog?owner_id={{blog.owner}}">{{blog.owner}}</a>  </h4>
            <p class="body">{{blog.body}}</p>  
                <br />
                <br />
                <hr/>  
                  
    {% endfor %}

    

{% endblock %}