{% extends "base.html" %}

{% block content %}
<h1 class="page-heading">Blogz</h1>
</br>
<h3>Add a blog entry</h3>
    </br>
    <form method='POST'>
        <label>
           Title for your new blog:
            <br />
            <input type="text" name='blog-title'/>
        </label>
            <p class="error">{{title_error}}</p>
            <br/>
            <br/>
        <label>
                Your new blog:
            <br />
        <textarea name="blog-body" id="" cols="60" rows="10"></textarea>
        </label>
        
        <p class="error">{{body_error}}</p>
        <br />
        <br/>
        <input type="submit" value='Add Entry' />
    </form>

    <hr />

    

{% endblock %}