{% extends "base.html" %}

{% block content %}
<h1 class="page-heading">Blogz</h1>
</br>
<h3>Create Account</h3>
</br>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username"><span class="field">Username &nbsp;</span></label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
            </td>
        </tr>
   
        <tr>
            <td><label for="password"><span class="field">Password &nbsp;</span></label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify"><span class="field">Verify Password &nbsp;</span> </label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </table>
</br>
    <input class="button" type="submit" value="Create Account">
</form>
{% endblock %}